<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-fullstory" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FullStory</name>
    <preference name="FULLSTORY_VERSION" default="1.37.0" />
    <platform name="ios">
        <hook src="hooks/iosExtendBuildPhase.js" type="before_build" />
        <hook src="hooks/iosPodfileConfig.js" type="before_build" />
        <config-file target="config.xml" parent="/*">
            <preference name="fs_version" value="$FULLSTORY_VERSION" />    
        </config-file>
        <podspec>
            <pods>
                <pod name="FullStory" http="https://ios-releases.fullstory.com/fullstory-fs_version-xcframework.tar.gz"/>
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <preference name="FULLSTORY_SERVER_URL" default="https://fullstory.com"/>
        <preference name="FULLSTORY_ORG" />
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="fs_version" value="$FULLSTORY_VERSION" />
            <preference name="fs_org" value="$FULLSTORY_ORG" /> 
            <preference name="fs_server_url" value="$FULLSTORY_SERVER_URL" /> 
        </config-file>

        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:name="com.fullstory.cordova.plugin.MainApplication"/>
        </edit-config>

        <source-file src="src/android/MainApplication.java" target-dir="src/com/fullstory/cordova/plugin/" />
        <hook type="before_build" src="hooks/androidGradleConfig.js" />
    </platform>
</plugin>