<?xml version='1.0' encoding='utf-8'?>
<plugin id="fullstory-cordova-plugin" version="1.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FullStory</name>
    <engines>
        <engine name="cordova-android" version=">=9.1.0" />
        <engine name="cordova-ios" version=">=6.0.0" />
    </engines>
    <preference name="FS_VERSION" default="1.37.0" />
    <platform name="ios">
        <hook src="hooks/iosExtendBuildPhase.js" type="before_build" />
        <hook src="hooks/iosPodfileConfig.js" type="before_build" />
        <config-file target="config.xml" parent="/*">
            <preference name="fs_version" value="$FS_VERSION" />    
        </config-file>
        <podspec>
            <config>
            </config>
            <pods>
                <pod name="FullStory" />
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <preference name="FS_SERVER_URL" default="https://fullstory.com"/>
        <preference name="FS_ORG" />
        <preference name="FS_ENABLED_VARIANTS" default="release" />
        <preference name="FS_LOG_LEVEL" default="info" />
        <preference name="FS_RECORD_ON_START" default="true" />
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="fs_version" value="$FS_VERSION" />
            <preference name="fs_org" value="$FS_ORG" />
            <preference name="fs_server_url" value="$FS_SERVER_URL" />
            <preference name="fs_enabled_variants" value="$FS_ENABLED_VARIANTS" />
            <preference name="fs_log_level" value="$FS_LOG_LEVEL" />
            <preference name="fs_record_on_start" value="$FS_RECORD_ON_START" />
        </config-file>

        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>

        <source-file src="src/android/MainApplication.java" target-dir="src/com/fullstory/cordova/plugin/" />
        <hook type="before_build" src="hooks/androidGradleConfig.js" />
    </platform>
</plugin>